modules = ["python-3.12", "web"]
run = "streamlit run undefined"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run chatbot.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36839236

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run chatbot.py"
